.app {
  background: #8aaade;
  padding: 35px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 600px;
  padding: 6px;
}

.todo {
  background: #fff;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
